body{
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
}

/* HEADER */
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}

.logo > img{
    max-width: 200px;
    color: #F9FAF8;
    font-size: 24px;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.links{
    display: flex;
    gap: 8px;
}

/* SECTION 1 */
.section1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 48px;
    background-color: #1F2937;
    padding: 80px;
}

.left{
    width: 500px;
}

.right{
    width: 500px;
}

.right > img{
    max-width: 480px;
}

.heroMain{
    font-weight: bold;
    font-size: 48px;
    color: #F9FAF8;
}

.heroSecondary{
    font-size: 18px;
    color: #e5e7eb9e;
}

.left > button{
    padding: 10px 24px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
}

/* SECTION 2 */
.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
    gap: 24px;
}

.items{
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 12px;
}

.info{
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.itemImg > img{
    max-width: 150px;
}

.itemImg{
    border-style: solid;
    border-color: #3882F6;
    border-radius: 12px;
    padding: 8px;
}

.infoText{
    width: 250px;
    color: #1f2937a6;
    font-size: smaller;
}

/* SECTION 3 */
.section3{
    background-color: #E5E7EB;
    padding: 80px;
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quoteText{
    font-size: 36px;
    color: #1f2937b8;
    font-weight: lighter;
}

.quoteAuthor{
    font-size: 18px;
    color: #1F2937;
    font-weight: bolder;
    align-self: flex-end;
}

.textContainer{
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* SECTION 4 */
.section4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.actionContainer{
    width: 65vw;
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    padding: 52px;
    border-radius: 8px;
}

.actionText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.actionHead{
    font-weight: bolder;
    color: #F9FAF8;
}

.actionSub{
    color: #f9faf8c7;
    font-size: smaller;
}

.actionButton > button{
    padding: 10px 24px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    border: solid;
    border-color: #F9FAF8;
    margin-top: 10px;
    border-width: thin;
}